// Custom styles.
.posts-expand .post-body img {
  box-sizing: border-box;
  margin: 0 auto 0px;
  padding: 3px;
  border: 1px solid #ddd;
}

.posts-expand .post-meta .post-tags {
    margin-top: 10px;
    text-align: center;
}
